
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* navbar design Starts here */

.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
    

}

/* navbar design ends here */



.logo{
    width:80px;
}


/* profile design Starts from here */

.profile .top-wether-icon {
    width: 120px;
    top: 20px;
    right: 100px;
    transition: width 2s,  transform 2s;
}

.profile .top-wether-icon:hover {
    width: 140px;
}

.profile-desc p{
    color: gray;
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.profile .bottom-wether-icon {
    width: 120px;
    bottom: 20px;
    left: 100px;
    transition: width 2s,  transform 2s;
}

.profile .bottom-wether-icon:hover {
    width: 140px;
}

.profile::after{
    content: '';
    display: table;
    clear: both;
}

/* profile design ends here */


/* about me design starts here */

.aboutme-img{
    margin-top: 140px;
}

.aboutme-desc p{
    text-align: center;
}

.aboutme-img img{
    height: 270px;
    width: 260px;
}
.aboutme-desc p{
    text-align: left;
}



/* about me design ends here */

/* achievement-contact starts from here */

.achievement{
    padding-right: 50px;
}

.Contact button{
    width: 160px;
}

.Contact-links{
    position: relative;

}

.media-buttons{
    margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* achievement-contact ends from here */

/* <!-- Footer Starts from here --> */

.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display: inline;
    margin: 10px;
    font-size: 1rem;
    
}

/* <!-- Footer ends from here --> */